<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>W3 Academy</title>
</head>
<body>
<h1>Welcome to W3 Academy</h1>
<hr>
<h2>This is H2 header</h2>
<hr>
<a href="/firstView" ><button style="color: black; background-color: blueviolet; font-size: 16px; font-weight: bold;">Click to first view</button> </a>
<hr>
<a href="/requestForm" ><button style="color: black; background-color: blueviolet; font-size: 16px; font-weight: bold;">Click View Form</button> </a>
<hr>
<a href="/saveData" ><button style="color: black; background-color: blueviolet; font-size: 16px; font-weight: bold;">Click View DB Access Form</button> </a>
<hr>
</body>
</html>