<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add data</title>
</head>
<body>
<div>
    <header>
        <div>

        </div>
        <div><h3>Name Management</h3></div>
        <div><a href=""> View All</a></div>
    </header>
</div>
<div>
    <form action="/saveData/save" data-th-object="${saveData}" method="post">
        <input data-th-if="${addState}" data-th-field="*{id}" type="text" readonly>
        <label>
            Name :
            <input data-th-field="*{name}" placeholder="Enter name" type="text">
        </label>
        <br>
        <label>
            First Name :
            <input data-th-field="*{firstName}" placeholder="Enter First Name" type="text">
        </label>
<br>
        <button style="background-color: green" type="submit">Submit</button>
        <button style="background-color: greenyellow" type="reset">Reset</button>
    </form>
</div>
</body>
</html>